@use '../../colors';

.container {
  display: flex;
  flex-direction: column;
  .tableOfGames {
    width: 700px;
    border-collapse: collapse;
    margin-top: 20px;
  }

  .tableOfGames th,
  .tableOfGames td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }

  .tableOfGames button {
    cursor: pointer;
    background-color: colors.$PrimaryBackground;
    color: colors.$PrimaryForeground;
    border: none;
    border-radius: 3px;
    display: block;
    min-width: 100px;
  }
}
