.tableOfGames {
  width: 700px;
  border-collapse: collapse;
  margin-top: 20px;
}

.tableOfGames th, .tableOfGames td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.tableOfGames button {
  cursor: pointer;
  background-color: rgb(239, 158, 86);
  color: white;
  border: none;
  border-radius: 3px;
  display: block;
  minWidth: 100px;
}
