.buzzQuiz {
  font-family: Arial, sans-serif;
  width: 700px;
  margin: auto;
  padding: 10px;

  .scoreBoard {
    display: flex;
    justify-content: space-around;
    text-align: center;

    .team {
      display: flex;
      flex-direction: column;
      align-items: center;

      .score {
        font-size: 2em;
        margin: 5px 0;
      }

      .buzzer {
        margin-top: 40px;
        display: flex;
        width: 50px;
        height: 50px;
        background-color: lightgray;
        border-radius: 50%;

        &.active {
          background-color: #ff5900;
        }

        &.activated {
          background-color: green;
        }
      }

      .buzzerLabel {
        margin-top: 10px;
      }
    }
  }

  .actionButtons {
    display: flex;
    justify-content: space-evenly;

    .button {
      cursor: pointer;
      background-color: #ff5900;
      border: none;
      border-radius: 3px;
      display: block;
      width: 200px;
      margin: 30px 0;

      &.disabled {
        background-color: lightgray;
        cursor: default;

        &:hover {
          opacity: 0.9;
          transform: scale(1);
        }
      }
    }
  }

  .questionSection {
    padding: 15px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    .question {
      font-weight: bold;
    }
  }

  .navigation {
    display: flex;
    justify-content: space-between;

    .navButton {
      cursor: pointer;
      background-color: rgb(239, 158, 86);
      border: none;
      border-radius: 3px;
      display: block;
      min-width: 200px;

      &.hidden {
        visibility: hidden;
      }
    }
  }

  .footer {
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }
}
