@use '../../colors';
@use '../../buttons';

.buzzQuiz {
  font-family: Arial, sans-serif;
  width: 700px;
  margin: auto;
  padding: 10px;

  .scoreBoard {
    display: flex;
    justify-content: space-around;
    text-align: center;

    .team {
      display: flex;
      flex-direction: column;
      align-items: center;

      .score {
        font-size: 2em;
        margin: 5px 0;

        &.scoring {
          color: colors.$Success;
        }
      }

      .buzzer {
        margin-top: 40px;
        display: flex;
        width: 50px;
        height: 50px;
        background-color: colors.$NonActive;
        border-radius: 50%;

        &.active {
          background-color: colors.$Active;
        }

        &.activated {
          background-color: colors.$Activated;
        }
      }

      .buzzerLabel {
        margin-top: 10px;
      }
    }
  }

  .actionButtons {
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
  }

  .questionSection {
    padding: 15px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    .question {
      font-weight: bold;
    }
  }

  .navigation {
    display: flex;
    justify-content: space-between;
  }

  .footer {
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }
}
