@use '../../colors';

.container {
  margin: 20px;
  min-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 20px;

  .buttons {
    display: flex;
    justify-content: space-evenly;
  }
}
