.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .label {
    padding-bottom: 10px;
  }

  .score {
    display: flex;

    .scoreValue {
      padding: 0 10px;

      font-size: 24px;
      font-weight: bold;
      margin: 8px;
    }
  }
}
