@use '../../colors';

.container {
  .winner {
    color: colors.$Success;
  }

  .loser {
    color: colors.$Error;
  }

  .iconWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
