.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .welcomeText {
    padding-bottom: 20px;
  }

  .titlePrimary {
    font-size: 84px;
  }

  .titleSecondary {
    font-size: 64px;
  }
}
