@use '../../colors';

.container {
  min-width: 500px;
  margin: 20px;

  .content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    .danger {
      color: colors.$Error;
    }
  }

  .footer {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;

    .button {
      min-width: 100px;

      &.primary {
        background-color: colors.$Primary;
      }
    }
  }
}
