@use '../../colors';

.container {
  width: 700px;
  display: flex;
  flex-direction: column;
  gap: 60px;

  .header {
    display: flex;
    justify-content: center;
  }

  .scoreBoard {
    display: flex;
    justify-content: space-around;
    text-align: center;

    .team {
      display: flex;
      flex-direction: column;
      align-items: center;

      .score {
        font-size: 2em;
        margin: 5px 0;
      }
    }
  }

  .footer {
    display: flex;
    justify-content: center;

    .finishBtn {
      background-color: colors.$Primary;
    }
  }
}
