@use '../../colors';

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  .header {
  }

  .content {
  }
  .footer {
    .buzzer {
      border-radius: 50%;
      width: 100px;
      height: 100px;
      background-color: colors.$Active;

      &.disabled {
        background-color: transparent;
        cursor: auto;

        &:hover {
          transform: scale(1);
        }
      }
    }
  }
}
