$Primary: #ef9e56;
$PrimaryStrong: #ff5900;
$Secondary: #fff;
$Active: red;
$Activated: #21ea5a;
$NonActive: lightgray;
$Black: #000;
$Background: #fff;
$Success: #21ea5a;
$Error: red;
$Disabled: lightgray;
