$PrimaryBackground: #ef9e56;
$PrimaryForeground: #000;
$SecondaryBackground: #fff;
$SecondaryForeground: #000;
$TertiaryBackground: #ff5900;
$TertiaryForeground: #000;
$Active: red;
$Activated: #21ea5a;
$NonActive: lightgray;
$Black: #000;
$Background: #fff;
$Success: #21ea5a;
$Error: red;
$Disabled: lightgray;
