@use './colors';
@use './buttons';
/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
body {
  position: relative;
  color: colors.$Black;
  height: 100vh;
  background-color: colors.$Background;
  font-family: sans-serif;
  overflow-y: hidden;
}

.content {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  @include buttons.btn;
}
